{% load i18n %}

<ul style="text-transform: uppercase;">
    {% for app in module.children %}
    {% if app.has_children %}
        {% if app.is_header %}
            <li class="contrast dashboard_header">
                {% if app.url %}
                <a href="{{ app.url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                    {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>

                {% elif  app.model %}
                <a href="{{ app.app.admin_url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                    {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>
                {% else %}
                <div href="{{ app.url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                    {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</div>
                {% endif %}
            </li>
        {% else %}
            {% if app.app.add_url or app.app.admin_url or app.url %}
                <li>
                    <span class="float-right">
                        {% if app.app.add_url %}
                            <a href="{{ app.app.add_url }}" class="addlink" title="{% trans 'Add' %}"></a>
                        {% else %}
                            &nbsp;
                        {% endif %}

                        {% if app.app.admin_url %}
                            <a href="{{ app.app.admin_url }}" class="changelink" title="{% trans 'Change' %}"></a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </span>

                    {% if app.url %}
                        <a href="{{ app.url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                            {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>
                    {% elif app.app.admin_url %}
                    <a href="{{ app.app.admin_url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                        {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>
                    {% else %}
                        {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}
                    {% endif %}
                </li>
            {% endif %}
            {% if not app.app.add_url and not app.app.admin_url and not app.url %}
                <li>
                    <span class="float-right">
                        {% if app.app.add_url %}
                            <a href="{{ app.app.add_url }}" class="addlink" title="{% trans 'Add' %}"></a>
                        {% else %}
                            &nbsp;
                        {% endif %}

                        {% if app.app.admin_url %}
                            <a href="{{ app.app.admin_url }}" class="changelink" title="{% trans 'Change' %}"></a>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </span>

                    {% if app.url %}
                        <a href="{{ app.url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                            {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>
                    {% elif app.app.admin_url %}
                    <a href="{{ app.app.admin_url }}" title="{% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_message_ar }}{% else %}{{ app.title_message }}{% endif %}">
                        {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}</a>
                    {% else %}
                        {% if LANGUAGE_CODE|lower == 'ar' %}{{ app.title_ar }}{% else %}{{ app.title }}{% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
    {% endfor %}
</ul>
