table.fold-table > tbody > tr.view:nth-child(4n-1) {
	 background: #eee;
}
 table.fold-table > tbody > tr.view:hover {
	 background: #aaa;
}
 table.fold-table > tbody > tr.view.open {
	 background: #ff634752;
	 color: white;
}
 table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
	 transform: rotate(-180deg);
	 color: #333;
}
 table.fold-table > tbody > tr.fold {
	 display: none;
}
 table.fold-table > tbody > tr.fold.open {
	 display: table-row;
}
 .fold-content {
	 padding: 0.5em;
}
 .fold-content h3 {
	 margin-top: 0;
}
 .fold-content > table {
	 border: 2px solid #ccc;
}
 .fold-content > table > tbody tr:nth-child(even) {
	 background: #eee;
}

.dark_header {
    background-color: #59677e !important;
    color: #fff;
}