{% load i18n %}

{% if request.user.jetsetting_set.exists %}
<style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
<div class="dashboard-tools-toggle-container">
    <a href="#" class="dashboard-tools-toggle button">
        <span class="dashboard-tools-toggle-icon icon-settings"></span>
    </a>
</div>
<div class="dashboard-tools" style="right: {% if LANGUAGE_BIDI %}20rem{% else %}33.35714rem{% endif %};">
    <div id="propagate_dashboard" href="" class="button ">{% trans 'Transfer dashboard' %}</div>
    <a id="edit_menu" href="{% url 'admin:jet_jetmenuconfiguration_changelist' %}" class="button ">{% trans 'Edit Menu' %}</a>
    <a id="clear_cache" href="{% url 'jet_dashboard:clear_cache' %}?next={{request.path}}" class="button ">{% trans 'Clear Cache' %}</a>
    <div id="generate_dashboard_apps" href="" class="button ">{% trans 'Generate Custom Dashboard' %}</div>
    <div id="manage_dashboard_config" href="" class="button ">{% trans 'Dashboard Config' %}</div>
</div>

<div class="dashboard-tools">
    <form action="{% url "jet-dashboard:add_user_dashboard_module" %}" method="POST" id="add-dashboard-module-form">
        {% csrf_token %}
        <select class="add-dashboard" name="module">
            <option>{% trans "widgets" %}</option>
            <optgroup label="{% trans "available" %}">
                {% for module in available_children %}
                    <option value="{{ forloop.counter0 }}" data-type="available_children">{{ module.title }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="{% trans "initials" %}">
                {% for module in children %}
                    <option value="{{ forloop.counter0 }}" data-type="children">{{ module.title }}</option>
                {% endfor %}
            </optgroup>
        </select><a href="#" class="button add-dashboard-link" title="{% trans "Add" %}"><span class="add-dashboard-link-icon icon-add"></span><span class="add-dashboard-link-label">{% trans "Add" %}</span></a>
        <input type="hidden" name="app_label" value="{% if app_label %}{{ app_label }}{% endif %}">
        <input type="hidden" name="type" value="">
        <a href="#" class="button transparent reset-dashboard-link" title="{% trans "Reset widgets" %}"><span class="reset-dashboard-link-icon icon-reset"></span><span class="reset-dashboard-link-label">{% trans "Reset widgets" %}</span></a>
    </form>
    <form action="{% url "jet-dashboard:reset_dashboard" %}" method="POST" id="reset-dashboard-form">
        {% csrf_token %}
        <input type="hidden" name="app_label" value="{% if app_label %}{{ app_label }}{% endif %}">
    </form>
    <div class="dialog-confirm" id="reset-dashboard-dialog" title="{% trans "Reset widgets" %}">
        <p>{% trans "Are you sure want to reset widgets?" %}</p>
    </div>
</div>

<!-- The Modal -->
<div id="confirm_action_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <form action="{% url 'jet_dashboard:propagate_jet_dashboard' %}" method="post">
          {% csrf_token %}
          <p>{% trans "Are you sure you want to fan out dashboard configuration to all staff users?..." %}</p>
        <button type="submit" class="button center" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Yes I am sure, please apply ..." %}</button>
      </form>
  </div>
</div>
<div id="confirm_generate_custom_app" class="modal">
    <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <form action="{% url 'jet_dashboard:generate_custom_dashboard' %}?next={{request.path}}" method="post">
          {% csrf_token %}
          <p>{% trans "Are you sure you want to generate custom apps?..." %}</p>
        <button type="submit" class="button center" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Yes I am sure, please apply ..." %}</button>
      </form>
  </div>
</div>
<!-- The Modal -->
<div id="manage_dashboard_config_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

      <form action="{% url 'jet_dashboard:download_my_dashboard' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <br>
          <h3>{% trans 'Upload a valid configuration for for your custom Dashboard' %}</h3>
          <hr>
          <br>
          <input type="file" name="dashboard_config">
          <br><br>
          <div class="row" style="display: grid; text-align: center;">
                <button type="submit" class="button center" title="{% trans 'Upload' %}" name="index" value="{% trans 'Upload' %}">{% trans 'Upload' %}</button>
              <div class="center" style="margin: 20px;">{% trans 'OR' %}</div>
              <a class="button center" href="{% url 'jet_dashboard:download_my_dashboard' %}">{% trans 'Download Dashboard' %}</a>
          </div>
      </form>
  </div>
</div>

<script>
    // Get the modal
var modal = document.getElementById('confirm_action_modal');
var modal_gen = document.getElementById('confirm_generate_custom_app');
var modal_download = document.getElementById('manage_dashboard_config_modal');

// Get the button that opens the modal
var btn = document.getElementById("propagate_dashboard");
var btn_gen = document.getElementById("generate_dashboard_apps");
var btn_download = document.getElementById("manage_dashboard_config");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}
btn_gen.onclick = function() {
  modal_gen.style.display = "block";
}
btn_download.onclick = function() {
  modal_download.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
Object.keys(span).forEach(el => {
    span[el].onclick = function() {
      modal.style.display = "none";
      modal_gen.style.display = "none";
      modal_download.style.display = "none";
    }
})

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal || event.target == modal_gen || event.target == modal_download) {
    modal.style.display = "none";
    modal_gen.style.display = "none";
    modal_download.style.display = "none";
  }
}
</script>

{% endif %}