{% extends "admin/base_site.html" %}
{% load i18n jet_tags static %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}{% endblock %}

        <form action="" method="post" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if form.errors or settings_form.errors %}
                    <p class="errornote">{% trans "Please correct the errors below." %}</p>
                {% endif %}

                {% block field_sets %}
                    <fieldset class="module aligned">
                        {% include "jet.dashboard/update_module_fieldset.html" with form=form wrap=False %}

                        {% if settings_form %}
                            {% include "jet.dashboard/update_module_fieldset.html" with form=settings_form wrap=False %}
                        {% endif %}
                    </fieldset>
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% if children_formset %}
                        <div class="inline-group">
                            <fieldset class="module">
                                <h2>{{ child_name_plural }}</h2>

                                {{ children_formset.management_form }}
                                {{ children_formset.non_form_errors }}
                                <div id="sortable">
                                {% for form in children_formset %}
                                    <div id="formset_number_{{ forloop.counter0 }}" class="inline-related{% if forloop.last %} empty-form last-related{% else %} has_original{% endif %}">
                                        <h3>
                                            <b>{{ child_name|capfirst }}:</b>&nbsp;<span class="inline_label">#{{ forloop.counter }}</span>
                                            {% if forloop.last %}
                                                <span><a href="#" class="inline-deletelink delete"><input type="checkbox" class="delete_checkbox" name="children-{{ forloop.counter0 }}-DELETE"> {% trans "Delete" %}</a></span>
                                            {% elif children_formset.can_delete %}
                                                <span class="delete"><label><input type="checkbox" class="delete_checkbox" name="children-{{ forloop.counter0 }}-DELETE">{% trans "Delete" %}</label></span>
                                            {% endif %}
                                        </h3>

                                        {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

                                        {% include "jet.dashboard/update_module_fieldset.html" with form=form %}
                                    </div>
                                {% endfor %}
                                </div>
                                {% with child_name as verbose_name %}
                                    <div class="add-row">
                                        <a href="#">{% blocktrans %}Add another {{ verbose_name }}{% endblocktrans %}</a>
                                    </div>
                                {% endwith %}
                            </fieldset>
                        </div>
                    {% endif %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}

                {% block submit_buttons_bottom %}
                    <div class="submit-row">
                        <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
                    </div>
                {% endblock %}

                {% block admin_change_form_document_ready %}{% endblock %}
            </div>
        </form>
    </div>
{% endblock %}

{% block custom_page_js %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function apply_sort(){
        $("#sortable").sortable("destroy");

         $("#sortable").children().each(function(i, el){
             if ( !$(el).hasClass("empty-form") ){
                $(el).find('input[name$=order]').val(i);
            };
        })

        $("#sortable").sortable({
            stop: function(event, ui){
                 $("#sortable").children().each(function(i, el){
                     if ( !$(el).hasClass("empty-form") ){
                        $(el).find('input[name$=order]').val(i);
                    };
                })
            },
        });
    };
    $("#sortable").sortable({
        stop: function(event, ui){
             $("#sortable").children().each(function(i, el){
                 if ( !$(el).hasClass("empty-form") ){
                    $(el).find('input[name$=order]').val(i);
                };
            })
        },
    });
    $("#sortable").children().each(function(i, el){

         if ( !$(el).hasClass("empty-form") ){
            $(el).find('input[name$=order]').val(i);
        };
    });
    $("#sortable").change(function(){
        $("#sortable").children().each(function(i, el){
         if ( !$(el).hasClass("empty-form") ){
                $(el).find('input[name$=order]').val(i);
            };
        })
    });
    $(".delete").click(function(){
        $(this.closest(".inline-related")).hide();
        this.find(".delete_checkbox").prop('checked', true);

        $("input[name=children-TOTAL_FORMS]").val($("input[name=children-TOTAL_FORMS]").val() - 1);
        $("input[name=children-INITIAL_FORMS]").val($("input[name=children-INITIAL_FORMS]").val() - 1);
    });
</script>
{% endblock %}
