{% load i18n tabular_permissions_tags %}
<table id="tabular_permissions" class="table table-condensed table-striped table-hover fold-table" cellspacing="0" width="100%"
       data-input-name="{{ input_name }}">
    <thead>
    <tr>
        <th> {% trans 'application'|capfirst %}</th>
        <th>{% trans 'model'|capfirst %}</th>
        {% if django_supports_view_permissions %}
        <th>
            {% trans 'View' %}
            <div>
                <input type="checkbox" class="checkbox select-all view"
                       id="perm_view_select_all">
                <label class="vCheckboxLabel" for="perm_view_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        {% endif %}
        <th>
            {% trans 'Add' %}
            <div>
                <input type="checkbox" class="checkbox select-all add"
                       id="perm_add_select_all">
                <label class="vCheckboxLabel" for="perm_add_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        <th>
            {% trans 'Change' %}
            <div>
                <input type="checkbox" class="checkbox select-all change"
                       id="perm_change_select_all">
                <label class="vCheckboxLabel" for="perm_change_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        <th>
            {% trans 'Delete' %}
            <div>
                <input type="checkbox" class="checkbox select-all delete"
                       id="perm_delete_select_all">
                <label class="vCheckboxLabel" for="perm_delete_select_all">{% trans 'All' %}</label>
            </div>
        </th>
        {% if custom_permissions_available %}
            <th>
            {% trans 'other permissions'|capfirst %}
            </th>
        {% endif %}
    </tr>
    </thead>
    {% for app in apps_available.values %}
    {% get_show_app_in_permission app.verbose_name as app_show_me %}
    {% if app.models.values|length > 0 and app_show_me %}
        <tr class="view">
            <td colspan="{{colspan}}">
                <h3>{{ app.verbose_name|capfirst }} </h3>
                <p class="app_help">{% get_app_help_string_permission app.verbose_name %}</p>
            </td>
        </tr>
        <tr class="fold">
          <td colspan="{{colspan}}">
            <div class="fold-content">

                <table>
                    <tr>
                        <th> {% trans 'application'|capfirst %}</th>
                        <th>{% trans 'model'|capfirst %}</th>
                        {% if django_supports_view_permissions %}
                        <th>
                            {% trans 'View' %}
                        </th>
                        {% endif %}
                        <th>
                            {% trans 'Add' %}
                        </th>
                        <th>
                            {% trans 'Change' %}
                        </th>
                        <th>
                            {% trans 'Delete' %}
                        </th>
                        {% if custom_permissions_available %}
                            <th>
                            {% trans 'other permissions'|capfirst %}
                            </th>
                        {% endif %}
                    </tr>
                {% for model in app.models.values %}
                    {% get_show_model_in_permission app.verbose_name model.verbose_name as model_show_me %}
                    {% if model_show_me %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% if forloop.counter0 == 0 %}
                            <td rowspan="{{ app.models|length }}" class="app-name"
                                data-app-name="{{ app.label }}">
                                {{ app.verbose_name|capfirst }}
                            </td>
                        {% endif %}
                        <td>
                            {{ model.verbose_name|capfirst }}
                            <p class="model_help">{% get_model_help_string_permission app.verbose_name model.verbose_name %}</p>
                            <div class="input">
                                <input type="checkbox" class="checkbox select-all select-row sss"
                                       data-model-name="{{ model.model_name }}" id="{{ app.label }}_{{model.model_name}}">
                                <label class="vCheckboxLabel" for="{{ app.label }}_{{model.model_name}}">{% trans 'All' %}</label>
                            </div>
                        </td>
                        {% if django_supports_view_permissions %}
                        <td class="view">
                            {% if model.view_perm_id %}
                                <div class="input">
                                    <label>
                                        <input type="checkbox" class="checkbox view model-{{ model.model_name }}"
                                               id="id_{{ model.view_perm_name }}" data-perm-id="{{ model.view_perm_id }}"
                                                {% if model.view_perm_id in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    </label>
                                </div>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td class="add">
                            {% if model.add_perm_id %}
                                <div class="input">
                                    <label>
                                        <input type="checkbox" class="checkbox add model-{{ model.model_name }}"
                                               id="id_{{ model.add_perm_name }}" data-perm-id="{{ model.add_perm_id }}"
                                                {% if model.add_perm_id in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    </label>
                                </div>
                            {% endif %}
                        </td>
                        <td class="change">
                            {% if model.change_perm_id %}
                                <div class="checkbox ">
                                    <label>
                                        <input type="checkbox" class="checkbox change model-{{ model.model_name }}"
                                               id="id_{{ model.change_perm_name }}" data-perm-id="{{ model.change_perm_id }}"
                                                {% if model.change_perm_id in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    </label>
                                </div>
                            {% endif %}
                        </td>
                        <td class="delete">
                            {% if model.delete_perm_id %}
                            <div class="checkbox ">
                                <label>
                                    <input type="checkbox" class="checkbox delete model-{{ model.model_name }}"
                                           id="id_{{ model.delete_perm_name }}" data-perm-id="{{ model.delete_perm_id }}"
                                            {% if model.delete_perm_id in user_permissions %}
                                           checked="checked"
                                            {% endif %}>
                                </label>
                            </div>
                            {% endif %}
                        </td>
                        {% if custom_permissions_available %}
                        <td>
                        {% for custom_permission in model.custom_permissions %}
                            <div class="input ">
                                    <label>
                                        <input type="checkbox" class="checkbox custom model-{{ model.model_name }}"
                                               id="id_{{ custom_permission.0 }}" data-perm-id="{{ custom_permission.2 }}"
                                                {% if custom_permission.2 in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    <label class="vCheckboxLabel" for="id_{{ custom_permission.0 }}">{{ custom_permission.1 }}</label>
                                    </label>
                                </div>
                        {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
          </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
<hr/>
{% block style %}
    {#    Seems a waste to request those couple of sad lines from the server as separate css file #}
    <style>
        .user-permissions-app-separator {
            border-bottom: 1px solid black;
        }

        .app-name {
            border-right: 1px black solid;
        }

        [dir=rtl] .app-name {
            border-left: 1px black solid;
            border-right: initial;
        }

        th {
            text-decoration: underline;
        }

        .select-all {
            font-style: italic;
        }

    </style>
<style>
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
 .pcs:after {
	 content: " pcs";
}
 .cur:before {
	 content: "$";
}
 .per:after {
	 content: "%";
}
 * {
	 box-sizing: border-box;
}
 body {
	 padding: 0.2em 2em;
}
 table {
	 width: 100%;
}
 table th {
	 text-align: left;
	 border-bottom: 1px solid #ccc;
}
 table th, table td {
	 padding: 0.4em;
}
 table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
	 cursor: pointer;
}
 table.fold-table > tbody > tr.view td:first-child, table.fold-table > tbody > tr.view th:first-child {
	 position: relative;
	 padding-left: 20px;
}
 table.fold-table > tbody > tr.view td:first-child:before, table.fold-table > tbody > tr.view th:first-child:before {
	 position: absolute;
	 top: 50%;
	 left: 5px;
	 width: 9px;
	 height: 16px;
	 margin-top: -8px;
	 font: 16px fontawesome;
	 color: #999;
	 content: "\f0d7";
	 transition: all 0.3s ease;
}
</style>
<script>
(function($){
    $(document).ready(function () {
        $(".fold-table tr.view").on("click", function(){
            $(this).toggleClass("open").next(".fold").toggleClass("open");
        });

        $('#id_user_permissions').next().hide();
        $('#id_permissions').next().hide();
    });
})(django.jQuery);
</script>

{% endblock %}
